<div ng-controller="realtimestatisticController as vm">
    <div class="widget bg-white">
        <ul class="list-group">
            <li class="list-group-item active">
                实时统计房量 @DateTime.Now.ToString("yyyy-MM-dd")
            </li>
            <li class="list-group-item">
                <h4 class="badge">150</h4>
                <h4>总房数</h4>
            </li>
            <li class="list-group-item">
                <h4 class="badge">3</h4>
                <h4>关闭房</h4>
            </li>
            <li class="list-group-item">
                <h4 class="badge">1</h4>
                <h4>维修房</h4>
            </li>
            <li class="list-group-item">
                <h4 class="badge">146</h4>
                <h4>可租房</h4>
            </li>
            <li class="list-group-item">
                <h4 class="badge">11</h4>
                <h4>预计到店</h4>
            </li>
            <li class="list-group-item">
                <h4 class="badge">80</h4>
                <h4>实际到店</h4>
            </li>
            <li class="list-group-item">
                <h4 class="badge">32</h4>
                <h4>预计离店</h4>
            </li>
            <li class="list-group-item">
                <h4 class="badge">30</h4>
                <h4>实际离店</h4>
            </li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item active">
                实时统计类型 @DateTime.Now.ToString("yyyy-MM-dd")
            </li>
            <li class="list-group-item">
                <h4 class="badge">60</h4>
                <h4>散客</h4>
            </li>
            <li class="list-group-item">
                <h4 class="badge">33</h4>
                <h4>团队</h4>
            </li>
            <li class="list-group-item">
                <h4 class="badge">1</h4>
                <h4>自用</h4>
            </li>
            <li class="list-group-item">
                <h4 class="badge">0</h4>
                <h4>免费</h4>
            </li>
            <li class="list-group-item">
                <h4 class="badge">11</h4>
                <h4>会议</h4>
            </li>
            <li class="list-group-item">
                <h4 class="badge">5</h4>
                <h4>长租</h4>
            </li>
        </ul>
    </div>
</div>

