<div ng-controller="myhotelController as vm">

    <div class="widget widget-stats bg-blue" ng-click="vm.myReservation()">
        <div class="stats-icon stats-icon-lg"><i class="fa fa-archive fa-fw"></i></div>
        <div class="stats-title">Reservations</div>
        <div class="stats-number">我的订单</div>
        <div class="stats-desc">如果您的行程改变可取消原有订单</div>
    </div>
</div>
