<div ng-controller="myreservationController as vm">
    <form class="navbar-form full-width">
        <div class="form-group">
            <h2>我的订单<small>列表</small></h2>
        </div>
    </form>
    <div class="widget bg-white" ng-repeat="item in vm.reservations">
        <ul class="media-list media-list-with-divider">
            <li class="media media-sm">
                <div class="row">
                    <div class="col-sm-3">
                        <p class="media-heading text-left color2">订单#:{{item.ResvNum}}</p>
                        <p class="media-heading text-left color2">住客:{{item.AcctNm}}</p>
                    </div>
                    <div class="col-sm-3">
                        <p class="media-heading text-left color2">抵店:{{item.ArrDt}}</p>
                        <p class="media-heading text-left color2">离店:{{item.DptDt}}</p>
                    </div>
                    <div class="col-sm-3">
                        <p class="media-heading text-left color2">房号:{{item.RmNum}}</p>
                        <p class="media-heading text-left color2">房价:{{item.Rate}}</p>
                    </div>
                    <div class="col-sm-3">
                        <div class="btn-group">
                            @*<a href="javascript:;" class="btn btn-lg btn-primary" role="button" ng-click="vm.billing()">账单</a>*@

                            @*<a href="javascript:;" class="btn btn-lg btn-warning" role="button" ng-click="vm.edit()">修改</a>*@
                            <a href="javascript:;" class="btn btn-lg btn-warning" role="button" ng-click="vm.cancel(item.ResvNum)">取消</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>



