<div ng-controller="homeController as vm">
    <div class="row">
        <!-- begin col-3 -->
        <div class="col-md-3 col-xs-12" ng-click="vm.booking()">
            <div class="widget widget-stats bg-red-darker">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-bell fa-fw"></i></div>
                <div class="stats-title">Booking</div>
                <div class="stats-number">客房预订</div>
                <div class="stats-desc">即刻预订，享有折扣*</div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-md-3 col-xs-6" ng-click="vm.control()">
            <div class="widget widget-stats bg-blue-darker">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-keyboard-o fa-fw"></i></div>
                <div class="stats-title">Control</div>
                <div class="stats-number">客房智控</div>
                <div class="stats-desc">超炫互动体验</div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-md-3 col-xs-6" ng-click="vm.myhotel()">
            <div class="widget widget-stats bg-purple">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-home fa-fw"></i></div>
                <div class="stats-title">My Hotel</div>
                <div class="stats-number">我的酒店</div>
                <div class="stats-desc">会员服务中心</div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-md-3 col-xs-6" ng-click="vm.roomService()">
            <div class="widget widget-stats bg-green">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-leaf fa-fw"></i></div>
                <div class="stats-title">Room Service</div>
                <div class="stats-number">客房服务</div>
                <div class="stats-desc">从未如此便捷</div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-md-3 col-xs-6" ng-click="vm.manager()">
            <div class="widget widget-stats bg-aqua-darker">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-pie-chart fa-fw"></i></div>
                <div class="stats-title">Manager</div>
                <div class="stats-number">掌控全局</div>
                <div class="stats-desc">数据一手掌握</div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-md-3 col-xs-6" ng-click="vm.proprietor()">
            <div class="widget widget-stats bg-black-darker">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-pagelines fa-fw"></i></div>
                <div class="stats-title">Proprietor</div>
                <div class="stats-number">我是业主</div>
                <div class="stats-desc">获取实时收益</div>
            </div>
        </div>
        <!-- end col-3 -->
    </div>
</div>