<!--
    酒店管理软件专家
    广州金航信息科技有限公司
    Golden Voyage
    微信入口
    版本: 1.0
-->


<!DOCTYPE html>
<html ng-app="gvApp">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <title data-ng-bind="$state.current.data.title">GVHS</title>
    <meta content="Gvhs Cloud Pms" name="description" />
    <meta content="gvhs" name="author" />
    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link rel="stylesheet" href="~/weixinsrc/assets/plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/weixinsrc/assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/weixinsrc/assets/plugins/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/weixinsrc/assets/plugins/simple-line-icons/simple-line-icons.css" /> 
    <link rel="stylesheet" href="~/weixinsrc/assets/css/animate.css" />
    <link rel="stylesheet" href="~/weixinsrc/assets/css/style.css" />
    <link rel="stylesheet" href="~/weixinsrc/assets/css/style-responsive.css" />
    <link rel="stylesheet" href="~/weixinsrc/assets/css/theme/blue.css" id="theme" />
    <!-- ================== END BASE CSS STYLE ================== -->
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="~/weixinsrc/assets/plugins/pace/pace.min.js"></script>
    <!-- ================== END BASE JS ================== -->
</head>
<body ng-controller="appController" ng-class="{'pace-top': setting.layout.paceTop, 'boxed-layout': setting.layout.pageBoxedLayout, 'bg-white': setting.layout.pageBgWhite }">


    <!-- begin #page-loader -->
    <div id="page-loader" ng-controller="pageLoaderController" class="fade in"><span class="spinner"></span></div>
    <!-- end #page-loader -->

    <!-- begin #page-container -->
    <div id="page-container" class="page-container page-sidebar-fixed page-header-fixed fade"
         ng-class="{
	        'page-sidebar-minified': setting.layout.pageSidebarMinified,
	        'page-content-full-height': setting.layout.pageContentFullHeight,
	        'page-footer-fixed': setting.layout.pageFixedFooter,
	        'page-with-right-sidebar': setting.layout.pageRightSidebar,
	        'page-sidebar-minified': setting.layout.pageSidebarMinified,
	        'page-with-two-sidebar': setting.layout.pageTwoSidebar,
	        'page-right-sidebar-toggled': setting.layout.pageTwoSidebar,
	        'page-with-top-menu': setting.layout.pageTopMenu,
	        'page-without-sidebar': setting.layout.pageWithoutSidebar,
	        'page-with-wide-sidebar': setting.layout.pageWideSidebar,
	        'page-with-light-sidebar': setting.layout.pageLightSidebar,
	        'p-t-0': setting.layout.pageWithoutHeader
	    }">
        <div ui-view></div>
    </div>
    <!-- end #page-container -->
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="~/weixinsrc/js/vendor.js"></script>
    <script src="~/weixinsrc/js/app.js"></script>

</body>
</html>